<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Chat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
    <div
        #scrollMe
        class="chat-nachrichten"
        (swipeLeft)="swipeEvent($event)"
        (swipeRight)="swipeEvent($event)"
    >
        <ion-list>
            <div
                class="messages"
                *ngFor="let chat of chatList | async"
                [class.other]="chat.username === this.currentUser"
            >
                <div class="message">
                    <span>
                        <h3
                            *ngIf="chat.username"
                            [style.color]="stringToColor(chat.username)"
                        >
                            {{chat.username}}
                        </h3>
                        <p *ngIf="chat.text">{{chat.text}}</p>
                    </span>
                    <div class="time" *ngIf="showDates">{{chat.date}}</div>
                </div>
            </div>
        </ion-list>
    </div>
    <form class="chat-eingabe">
        <ion-grid>
            <ion-row>
                <ion-col size="10">
                    <ion-input
                        autofocus="true"
                        type="text"
                        name="message"
                        [(ngModel)]="message"
                        (keyup.enter)="sendMessage()"
                    >
                    </ion-input>
                </ion-col>
                <ion-col size="2" class="ion-text-right">
                    <ion-button color="danger" (click)="sendMessage()">
                        <ion-icon *ngIf="!showSpinnerIcon" name="send">
                        </ion-icon>
                        <ion-spinner *ngIf="showSpinnerIcon" name="bubbles">
                        </ion-spinner>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
