<ion-content class="ion-padding" (click)="navigateTo('login')">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <h2>Willkommen</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h2>zum</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h2>UseCase2</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-content>
