<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>Gallerie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
      <ion-item *ngFor="let img of imgList | async; index as i" scrollY="false" >
          <div class="spacer">
            <ion-img [src]="img.imgurl" width="100%"></ion-img>
          </div>                                             
      </ion-item>
  </ion-grid>
</ion-content>
