<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start"
            ><ion-menu-button></ion-menu-button
        ></ion-buttons>
        <ion-title>String</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h4>Hier wird ein schöner Text aus Strings zusammengesetzt:</h4>
    <h1>Hallo {{ myString }}</h1>
    <!-- Über SCSS gestyled-->
    <ion-text color="danger"><h2>Hallo {{ myString }}</h2></ion-text>
    <!-- Inline Stlying der WebComponent ion-text -->
</ion-content>
